html{
/*    margin-top: 20%;*/
    font-family: 'Text Me One', sans-serif;
    text-align: center;
}

body{
    margin: 60px;
}

h1{
    text-align: center;
    color: aliceblue;
}

h2{
    font-size: 15px;
    text-align: center;
    color: aliceblue;
}

h3{
    text-align: center;
    color: #00ccff;
}
p{
    padding: 20px;
    line-height: 30px;
}

.top_sec{
    
/*    background:linear-gradient(#15141426, #f7f7f1);*/
    padding-top: 20px;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 20px;
    background-color: #00ccff;
    
    background-repeat: no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
    
    


.bot_sec{
    background-color: linear-gradient(#f7f7f1, #15141426);
    border-radius: 0px 0px 15px 15px;
    padding: 25px 50px 75px 50px;
    text-align: center;
}

.pic img {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    filter: drop-shadow(0px 10px 5px rgba(128, 128, 128, 0.49));
    margin-top: 30px;
}

.inline_stats{
    display: flex;
    margin-left: 30%;
    margin-bottom: 30px;
    
}
.stats>div{
/*    width: 10%;*/
/*    background-color: aliceblue;*/
    padding-left: 25px;
    text-align: center;
    color: #00ccff
}


.button {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    /* background-color: rgba(255, 255, 255, 0.8); */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    color: #3c3c3c;
    font-family: 'Text Me One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #757777;
    
}

.button:hover {
    background-color: #00ccff;
    color: white;
     text-decoration: none;
     
}