{% extends 'base.html' %}

{% block main %}

<html>

    <head>
         <meta name="viewport" content="width=device-width,initial-scale=1">
         
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          
          <meta name="author" content="Larnelle Letts">
          
          <meta charset="utf-8">
          
          <title>Profile</title>
          
          <link rel="stylesheet" href="app.css">
          
<!--          <link rel="stylesheet" href="/static/style.css">  -->

<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
          
    </head>
    <body>
    
    <section class="top_sec">
        
<!--        profile pic_ using jinja -->
       <div class="profile_pic">
       
<!--       replace with url_for() Flask method. -->
       <div class="pic">
           <img src="{{ url_for('static', filename='profile.jpg') }}">
           </div>
           
           <h1> Larnelle Letts</h1>
           <h2> @letts_live</h2>
           <h2> Kingston, Jamaica</h2>
           <h3> Joined {{ myear }} </h3>
           
<!--           use jinja template to add month, year date-->
      
       
        </div>
        
    </section>
    
    <section class="bot_sec">
        <p>I am a Jamaican based web designer and developer. 
        I enjoy building a beautiful, functional site, designed for optimum effieciency.
        I am students at The University of the West Indies at the Mona campus in Kingston, Jamaica. 
        Larnelle is pursuing a B.Sc. in Information Technology</p>
        
        <div class="inline_stats">
            <div class= "stats"> 
                <div class="values">
                    <h3>20</h3>
                </div>
                
                <div class = "title">
                    <h3> Posts</h3>
                </div>
        </div>
        
         <div class= "stats"> 
                <div class="values">
                    <h3>496</h3>
                </div>
                
                <div class = "title">
                    <h3> Following</h3>
                </div>
        </div>
        
         <div class= "stats"> 
                <div class="values">
                    <h3>480</h3>
                </div>
                
                <div class = "title">
                    <h3> Followers</h3>
                </div>
        </div>
        </div>
        
<!--        <div class= "button">-->
             <a href="#" class="button"> Follow</a>
<!--        </div>-->
        
       
        
        </section>
    </body>

</html>

{% endblock %}